body {
  background: white;
  color: red;
  font-weight: bold;;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

label {
  border: 0px solid #666;
  overflow: hidden;
  padding: 0px 0;
  text-align: center;
}
#btn{
  float: left;
  padding:0px;
}
#btn1{
  float: right;
}
#container
{
  background-image: url(../img/back.jpg);
  background-repeat: repeat;
  color: black;
}
.container_12 {
  background-image: url(../img/t5.jpg);
  color: white;
  font-family:Georgia, serif;
  font-size: 16px;
}
.reset{
  margin-top: -15px;

}
